<!-- index.html-->

{% extends "base.html" %}
{% block title %}K-Means - Home{% endblock %}
{% block body %}

<div class="jumbotron">
  <h1 class="display-4">Cluster your data.</h1>
  <p class="lead">
    This service analyzes data to determine the best number of clusters for it, using K-Means algorithm with
    Mahalanois distance and Bayesian Information Criterion.
  </p>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>New Analysis</h3>
    <p>Upload your data file here to start a new analysis:</p>
    <form method="post" enctype="multipart/form-data" action="{{url_for('submit')}}">
      <div class="form-group row">
        <label for="n_experiments" class="col-2 col-form-label">n_exp:</label>
        <div class="col-10">
          <input class="form-control" type="number" value="3" id="n_experiments" name="n_experiments" min="1" max="100">
          <small id="n_experiments_help" class="form-text text-muted">
            Number of times the analysis is run to create confidence intervals. Min: 1. Max: 100.
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label for="max_k" class="col-2 col-form-label">max_k:</label>
        <div class="col-10">
          <input class="form-control" type="number" value="10" id="max_k" name="max_k" min="1" max="15">
          <small id="max_k_help" class="form-text text-muted">
            Maximum number of clusters to fit to the data. Min: 1. Max: 15.
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label for="n_init" class="col-2 col-form-label">n_init:</label>
        <div class="col-10">
          <input class="form-control" type="number" value="10" id="n_init" name="n_init" min="1" max="100">
          <small id="n_init_help" class="form-text text-muted">
            Number of times to initialize each fit. Min: 1. Max: 100.
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label for="covars" class="col-2 col-form-label">covars:</label>
        <div class="col-10">
          <select multiple class="form-control" id="covars" name="covars">
            <option value="full-tied" selected>Full-Tied</option>
            <option value="full-untied" selected>Full-Untied</option>
            <option value="diag-tied" selected>Diagonal-Tied</option>
            <option value="diag-untied" selected>Diagonal-Untied</option>
            <option value="spher-tied" selected>Spherical-Tied</option>
            <option value="spher-untied" selected>Spherical-Untied</option>
          </select>
          <small id="covars_help" class="form-text text-muted">Covariance matrices to use for the analysis.</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="scale" class="col-sm-2">scale:</label>
        <div class="col-sm-10">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="scale" name="scale" checked>
            </label>
            <small class="form-text text-muted">
            Scale the data so that each dimension has zero mean and unit standard deviation.
            This option is recommended.
          </small>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="file" class="col-2 col-form-label">file:</label>
        <div class="col-10">
          <input type="file" class="form-control-file" id="file" name="file">
          <small id="file_help" class="form-text text-muted">
            Only '.csv' files smaller than 256MB in size are allowed.
            The files must have a header with column names.
            "Longitude" and "Latitude" will be ignored for clustering.
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label for="submit" class="col-2 col-form-label"></label>
        <div class="col-10">
          <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <h3>Check Status</h3>
        <p>Check the status of a previously submitted job here:</p>
        <form class="form-inline" method="get" name="status" action="{{url_for('status')}}">
          <!--<label class="mr-sm-2" for="job_id">Get job status</label>-->
          <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="job_id" name="job_id" placeholder="Job ID">
          <button type="submit" class="btn btn-primary">Check</button>
        </form>
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>View Report</h3>
        <p>View the report for a previously submitted job here:</p>
        <form class="form-inline" method="get" name="status" action="{{url_for('report')}}">
          <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="job_id" name="job_id" placeholder="Job ID">
          <button type="submit" class="btn btn-primary">View</button>
        </form>
        <p></p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12">
    <h3>Examples</h3>
    <p>Demonstration of the usefullness of this analysis on synthetic datasets:</p>
  </div>
</div>

<div class="row" style="text-align:center">
  <div class="col-md-4">
    <p class="lead">Normal
    <img src="{{url_for('static', filename='normal.png')}}" class="img-fluid float-left">
    </p>
    <!--<p class="text-muted">Three clusters of normally distributed data.-->
    <p><a class="btn btn-secondary btn-sm" href="{{url_for('report', job_id=0)}}" role="button">View Report »</a></p>
    <p></p>
  </div>
  <div class="col-md-4">
    <p class="lead">Skewed 1
    <img src="{{url_for('static', filename='skewed1.png')}}" class="img-fluid float-left">
    </p>
    <!--<p class="text-muted">Three clusters of skewed data.-->
    <p><a class="btn btn-secondary btn-sm" href="{{url_for('report', job_id=1)}}" role="button">View Report »</a></p>
    <p></p>
  </div>
  <div class="col-md-4">
    <p class="lead">Skewed 2
    <img src="{{url_for('static', filename='skewed2.png')}}" class="img-fluid float-left">
    </p>
    <!--<p class="text-muted">Three clusters of skewed data.-->
    <p><a class="btn btn-secondary btn-sm" href="{{url_for('report', job_id=2)}}" role="button">View Report »</a></p>
    <p></p>
  </div>
</div>

<div class="row" style="text-align:center">
  <div class="col-md-4">
    <p class="lead">Skewed 3
    <img src="{{url_for('static', filename='skewed3.png')}}" class="img-fluid float-left">
    </p>
    <!--<p class="text-muted">Three clusters of skewed data.-->
    <p><a class="btn btn-secondary btn-sm" href="{{url_for('report', job_id=3)}}" role="button">View Report »</a></p>
    <p></p>
  </div>
  <div class="col-md-4">
    <p class="lead">Skewed 4
    <img src="{{url_for('static', filename='skewed4.png')}}" class="img-fluid float-left">
    </p>
    <!--<p class="text-muted">Three clusters of skewed data.-->
    <p><a class="btn btn-secondary btn-sm" href="{{url_for('report', job_id=4)}}" role="button">View Report »</a></p>
    <p></p>
  </div>
  <div class="col-md-4">
    <p class="lead">Skewed 5
    <img src="{{url_for('static', filename='skewed5.png')}}" class="img-fluid float-left">
    </p>
    <!--<p class="text-muted">Three clusters of skewed data.-->
    <p><a class="btn btn-secondary btn-sm" href="{{url_for('report', job_id=5)}}" role="button">View Report »</a></p>
    <p></p>
  </div>
</div>
{% endblock %}