<!-- index.html-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<div class="jumbotron">
  <h1>Cluster your data.</h1>
  <p class="lead">This service will analyze your data to determine the best number of clusters for it.</p>
</div>

<form class="form-inline" method="post" enctype="multipart/form-data" action="{{url_for('upload')}}">
    <input type="file" class="form-control mb-2 mr-sm-2 mb-sm-0" name="file" multiple>
    <input type="submit" value="Upload" class="btn btn-primary">
</form>

<form class="form-inline" method="post" name="status" action="{{url_for('status')}}">
  <label class="mr-sm-2" for="job_id">Get job status</label>
  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="job_id" name="job_id" placeholder="Job ID">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}