{% extends "base.html" %}
{% block body %}
  <h1>Report for Job ID: {{job_id}}</h1>
  <p class="text-muted"> Submited at {{start_time_clock}} on {{start_time_date}} (Pacific Time)</p>
  <p class="lead">Recommended number of clusters based on the best (highest) BIC score:</p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Covariance</th>
          <th>Num. of Clusters</th>
        </tr>
      </thead>
      <tbody>
        {% for covar_type, covar_tied, k in covar_type_tied_k %}
        <tr>
          <td>{{covar_type|capitalize}}-{% if covar_tied %}Tied{% else %}Untied{% endif%}</td>
          <td>{{k}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% if cluster_plot %}
  <h3>Cluster Plots</h3>
  <p>
    Recommended cluster assignments are visualized below using the first two columns ({{columns|join(', ')}}) in the
    dataset:
  </p>
  <img src="data:image/png;base64,{{cluster_plot}}" class="img-fluid"/>
  {% endif %}

  {% if spatial_cluster_plot %}
  <h3>Spatial Cluster Plots</h3>
  <p>
    Recommended cluster assignments are visualized below using the Latitude and Longitude columns in the data:
  </p>
  <img src="data:image/png;base64,{{spatial_cluster_plot}}" class="img-fluid"/>
  {% endif %}

  {% if aic_bic_plot %}
  <h3>AIC and BIC Plots</h3>
  <p>
    Akaike Information Critieria (AIC) and Bayesian Information Criteria (BIC) for all covariance and "k" values,
    shown with 95% confidence intervals.
  </p>
  <img src="data:image/png;base64,{{aic_bic_plot}}" class="img-fluid"/>
  {% endif %}

{% endblock %}