{% extends "base.html" %}
{% block title %}K-Means - Status - {{job_id}}{% endblock %}
{% block body %}
  <h1>Status for Job ID: {{job_id}}</h1>
  <p class="text-muted">
    Submitted at {{start_time_clock}} on {{start_time_date}} (Pacific Time)
    <br>File: "{{tasks[0].filename}}". Columns: "{{tasks[0].columns|join('", "')}}".
    <!--<br>n_exp:{{tasks[0].n_experiments}}, max_k:{{tasks[0].max_k}}, n_init:{{tasks[0].n_init}}.-->
  </p>
  <!--<p>{{stats['n_tasks_submitted']}}/{{stats['n_tasks']}} jobs submitted and {{stats['n_tasks_done']}}/{{stats['n_tasks']}} [{{per_done}}%] done!</p>-->
  <p class="lead">Task completion progress:</p>
  <div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width:{{stats['per_done']}}%"
         aria-valuenow="{{stats['per_done']}}" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar bg-info" role="progressbar" style="width:{{stats['per_pending']}}%"
         aria-valuenow="{{stats['per_pending']}}" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar bg-danger" role="progressbar" style="width:{{stats['per_error']}}%"
         aria-valuenow="{{stats['per_error']}}" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <p class="text-muted">
    Total: {{stats['n_tasks']}},
    Submitted: {{stats['n_tasks_submitted']}} ({{stats['per_submitted']}}%),
    Pending: {{stats['n_tasks_pending']}} ({{stats['per_pending']}}%),
    Error: {{stats['n_tasks_error']}} ({{stats['per_error']}}%),
    Done: {{stats['n_tasks_done']}} ({{stats['per_done']}}%).
  </p>
  {% if stats['n_tasks']==stats['n_tasks_done']%}
    <p><a class="btn btn-primary" href="{{url_for('report', job_id=job_id)}}" role="button">All Done! View report »</a></p>
  {% endif %}
  <h3>Details:</h3>
  <p>Parameters, status, and output of all tasks associated with this job are listed below:</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Task ID</th>
        <th>Num. of Clusters</th>
        <th>Covariance</th>
        <th>BIC</th>
        <th>AIC</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks | sort(attribute='task_id') %}
      <tr>
        <td>{{task.task_id}}</td>
        <td>{{task.k}}</td>
        <td>
          {{task.covar_type | capitalize}}
          {% if task.covar_tied==True %}Tied{% endif %}
          {% if task.covar_tied==False %}Untied{% endif %}
        </td>
        <td>{{task.bic}}</td>
        <td>{{task.aic}}</td>
        <td {%if task.task_status=="error" %} class="table-danger" {%endif%}>
          {{task.task_status | capitalize}}
        </td>
        <td>
          <form class="form" method="post" name="rerun" action="{{url_for('rerun')}}">
            <input type="hidden" id="job_id" name="job_id" value="{{task.job_id}}">
            <input type="hidden" id="task_id" name="task_id" value="{{task.task_id}}">
            <button type="submit" class="btn btn-outline-info btn-sm">
              <i class="glyphicon glyphicon-repeat" aria-hidden="true"></i>Rerun
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}