<!-- index.html-->

{% extends "base.html" %}
{% block title %}Centaurus - Home{% endblock %}
{% block head %}
<script src="{{url_for('static', filename='js/papaparse.min.js')}}" xmlns="http://www.w3.org/1999/html"></script>
{% endblock %}
{% block body %}


<script type="text/javascript">
function togglediv(id, id2) {
    var div = document.getElementById(id);
    div.style.display = div.style.display == "none" ? "unset" : "none";
    id2.checked=false;
}
</script>

<div class="jumbotron">
  <h1 class="display-4">K-Means as a Service</h1>
  <p class="lead">
    This service analyzes data to determine the best number of clusters for it, using K-Means algorithm with
    Mahalanois distance and Bayesian Information Criterion.
  </p>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>New Analysis</h3>
    <p>Upload your data file here to start a new analysis:</p>
    <form method="post" enctype="multipart/form-data" action="{{url_for('submit')}}">
    <!--<form method="post" enctype="multipart/form-data">-->
      <div class="form-group row">
        <label for="file" class="col-2 col-form-label">file:</label>
        <div class="col-10">
          <input type="file" class="form-control-file" id="file" name="file" onchange="$('#columns').html('');parseFile();">
          <small id="file_help" class="form-text text-muted">
            Only ".csv" files smaller than 256MB in size are allowed.
            The files must have a header with column names.
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label for="columns" class="col-2 col-form-label">cols:</label>
        <div class="col-10">
          <select multiple class="form-control" id="columns" name="columns">
          </select>
          <small id="columns_help" class="form-text text-muted">
            Columns from the file to be used for clustering.
            "Longitude" and "Latitude" are excluded by default, but can be added above.
          </small>
        </div>
      </div>
      <div class="form-group row">
        <input type ="hidden" id="all_columns" name="all_columns" >
      </div>
      <div id="advanced_settings" style="display: none;">
        <div class="form-group row">
          <label for="n_experiments" class="col-2 col-form-label">n_exp:</label>
          <div class="col-10">
            <input class="form-control" type="number" value="2" id="n_experiments" name="n_experiments" min="1" max="17000">
            <small id="n_experiments_help" class="form-text text-muted">
              Number of times the analysis is run to create confidence intervals. Min: 1. Max: 100.
            </small>
          </div>
        </div>
        <div class="form-group row">
          <label for="max_k" class="col-2 col-form-label">max_k:</label>
          <div class="col-10">
            <input class="form-control" type="number" value="2" id="max_k" name="max_k" min="1" max="15">
            <small id="max_k_help" class="form-text text-muted">
              Maximum number of clusters to fit to the data. Min: 1. Max: 15.
            </small>
          </div>
        </div>
        <div class="form-group row">
          <label for="n_init" class="col-2 col-form-label">n_init:</label>
          <div class="col-10">
            <input class="form-control" type="number" value="2" id="n_init" name="n_init" min="1" max="100">
            <small id="n_init_help" class="form-text text-muted">
              Number of times to initialize each fit. Min: 1. Max: 100.
            </small>
          </div>
        </div>
        <div class="form-group row">
          <label for="covars" class="col-2 col-form-label">covars:</label>
          <div class="col-10">
            <select multiple class="form-control" id="covars" name="covars">
              <option value="full-tied" selected>Full-Tied</option>
              <option value="full-untied" selected>Full-Untied</option>
              <option value="diag-tied" selected>Diagonal-Tied</option>
              <option value="diag-untied" selected>Diagonal-Untied</option>
              <option value="spher-tied" selected>Spherical-Tied</option>
              <option value="spher-untied" selected>Spherical-Untied</option>
            </select>
            <small id="covars_help" class="form-text text-muted">Covariance matrices to use for the analysis.</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="scale" class="col-sm-2">scale:</label>
          <div class="col-sm-10">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="scale" name="scale" checked>
              </label>
              <small class="form-text text-muted">
              Scale the data so that each dimension has zero mean and unit standard deviation.
              This option is recommended.
            </small>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="submit" class="col-2 col-form-label"></label>
        <div class="col-10">
          <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
     <div class="form-group row">
        <label for="advanced" class="col-2 col-form-label"></label>
        <div class="col-10">
            <input type="checkbox"  name="AdvancedSettings"  id="advanced" onclick="togglediv('advanced_settings', 'advanced')"> Show advanced settings</input>
        </div>
      </div>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <h3>Check Status</h3>
        <p>Check the status of a previously submitted job here:</p>
        <form class="form-inline" method="get" name="status" action="{{url_for('status')}}">
          <!--<label class="mr-sm-2" for="job_id">Get job status</label>-->
          <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="job_id" name="job_id" placeholder="Job ID">
          <button type="submit" class="btn btn-primary">Check</button>
        </form>
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>View Report</h3>
        <p>View the report for a previously submitted job here:</p>
        <form class="form-inline" method="get" name="status" action="{{url_for('report')}}">
          <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="job_id" name="job_id" placeholder="Job ID">
          <button type="submit" class="btn btn-primary">View</button>
        </form>
        <p></p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12">
    <h3>Examples</h3>
    <p>Demonstration of the usefullness of this analysis on synthetic datasets:</p>
  </div>
</div>

<div class="row" style="text-align:center">
  <div class="col-md-4">
    <p class="lead">Normal
    <img src="{{url_for('static', filename='images/normal.png')}}" style="height: 180px;">
    </p>
    <p><a class="btn btn-secondary btn-sm" href="{{url_for('report', job_id='592318af46b7fe1f542b6315')}}" role="button">View Report »</a></p>
    <p></p>
  </div>
  <div class="col-md-4">
    <p class="lead">Skewed 1
    <img src="{{url_for('static', filename='images/skewed1.png')}}" style="height:180px;">
    </p>
    <p><a class="btn btn-secondary btn-sm" href="{{url_for('report', job_id='592318d646b7fe1f542b6316')}}" role="button">View Report »</a></p>
    <p></p>
  </div>
  <div class="col-md-4">
    <p class="lead">Skewed 2
    <img src="{{url_for('static', filename='images/skewed2.png')}}" style="height:180px;">
    </p>
    <p><a class="btn btn-secondary btn-sm" href="{{url_for('report', job_id='592318f646b7fe1f542b6317')}}" role="button">View Report »</a></p>
    <p></p>
  </div>
</div>

<div class="row" style="text-align:center">
  <div class="col-md-4">
    <p class="lead">Skewed 3
    <img src="{{url_for('static', filename='images/skewed3.png')}}" style="height:180px;">
    </p>
    <p><a class="btn btn-secondary btn-sm" href="{{url_for('report', job_id='5923192946b7fe1f542b6318')}}" role="button">View Report »</a></p>
    <p></p>
  </div>
  <div class="col-md-4">
    <p class="lead">Skewed 4
    <img src="{{url_for('static', filename='images/skewed4.png')}}" style="height:180px;">
    </p>
    <p><a class="btn btn-secondary btn-sm" href="{{url_for('report', job_id='5923194046b7fe1f542b6319')}}" role="button">View Report »</a></p>
    <p></p>
  </div>
  <div class="col-md-4">
    <p class="lead">Skewed 5
    <img src="{{url_for('static', filename='images/skewed5.png')}}" style="height:180px;">
    </p>
    <p><a class="btn btn-secondary btn-sm" href="{{url_for('report', job_id='5923195646b7fe1f542b631a')}}" role="button">View Report »</a></p>
    <p></p>
  </div>
</div>

<div class="row" style="text-align:center">
  <div class="col-md-4">
    <p class="lead">Overlap 1
    <img src="{{url_for('static', filename='images/overlap1.png')}}" style="height:180px;">
    </p>
    <p><a class="btn btn-secondary btn-sm" href="{{url_for('report', job_id='5923196946b7fe1f542b631b')}}" role="button">View Report »</a></p>
    <p></p>
  </div>
  <div class="col-md-4">
    <p class="lead">Overlap 2
    <img src="{{url_for('static', filename='images/overlap2.png')}}" style="height:180px;">
    </p>
    <p><a class="btn btn-secondary btn-sm" href="{{url_for('report', job_id='5923198146b7fe1f542b631c')}}" role="button">View Report »</a></p>
    <p></p>
  </div>
  <div class="col-md-4">
    <!--<p class="lead">-->
    <!--<img src="{{url_for('static', filename='images/')}}" style="height:180px;">-->
    <!--</p>-->
    <!--<p><a class="btn btn-secondary btn-sm" href="{{url_for('report', job_id=5)}}" role="button">View Report »</a></p>-->
    <!--<p></p>-->
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  // Code based on http://papaparse.com/demo
    function parseFile() {
        stepped = 0;
        rowCount = 0;
        errorCount = 0;
        firstError = undefined;
        var config = {
            delimiter: ",",
            skipEmptyLines: true,
            preview: 5,
            complete: completeFn,
            error: errorFn
        };
        $('#file').parse({
            config: config,
            error: function(err, file) {
                console.log("ERROR:", err, file.name);
                firstError = firstError || err;
                errorCount++;
            }
        });
    }

    function completeFn(results) {
        var excludeColumns = {{exclude_columns|safe}};
        if (results && results.errors) {
            if (results.errors) {
                errorCount = results.errors.length;
                firstError = results.errors[0];
            }
            if (results.data && results.data.length > 0)
                rowCount = results.data.length;
        }
        cols = results.data[0];
        cols.forEach(function(c, i){
            $('#columns').append("<option></option>");
            $('#columns option')[i].text = c;
            $('#columns option')[i].value = c;
            if($.inArray(c.toLowerCase().trim(), excludeColumns) >= 0){
                $('#columns option')[i].selected = false;
            } else {
                $('#columns option')[i].selected = true;
            }
        });
        document.getElementById("all_columns").value = results.data[0]
    }

    function errorFn(err, file) {
        console.log("ERROR:", err, file);
    }
</script>
{% endblock%}
