{% extends "base.html" %}
{% block title %}Centaurus - Report - {{job_id}}{% endblock %}
{% block body %}
  <h1>Report for Job ID: {{job_id}}</h1>
  <p class="text-muted">
    Submitted at {{start_time_clock}} on {{start_time_date}} (UTC)
    <br> File: "{{job.filename}}". Columns used: [{{job.columns|join(', ')}}].
    <br>n_exp: {{job.n_experiments}}. max_k: {{job.max_k}}. n_tasks: {{job.n_tasks}}. scale: {{job.scale}}.
  </p>


<script type="text/javascript">
function togglediv(id, id2) {
    var div = document.getElementById(id);
    div.style.display = div.style.display == "none" ? "unset" : "none";
    id2.checked=false;
}
</script>

<h3>Cluster Plots</h3>
  <p>
    Recommended cluster assignments are visualized below using the columns {{viz_columns[0]}} and {{viz_columns[1]}}.
  </p>
  <div class="form-group row">
    <div class="form-inline" id="cluster_plot_reload_form_single">
      <div class="col-2">
        <label for="x_axis" class="col-form-label">x-axis:</label>
      </div>
      <div class="col-3">
        <select class="form-control form-control-sm" id="x_axis_single" name="x_axis">
          {% for column in columns %}
          <option value="{{column}}" {%if column==viz_columns[0] %} selected {% endif %}>{{column}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-2">
        <label for="y_axis" class="col-form-label">y-axis:</label>
      </div>
      <div class="col-3">
        <select class="form-control form-control-sm" id="y_axis_single" name="y_axis">
          {% for column in columns %}
          <option value="{{column}}" {%if column==viz_columns[1] %} selected {% endif %}>{{column}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-2">
        <button class="btn btn-secondary btn-sm" onclick="reload_cluster_plot()">Reload</button>
      </div>
    </div>
  </div>
  <div id="cluster_plot_loading_single">
      <i class="fa fa-spinner fa-pulse fa-fw"></i>
      <span>Loading Cluster Plots ...</span>
  </div>
  <div id="cluster_plot_loading_error_single" class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none;">
    <button type="button" class="close" aria-label="Close"
            onclick="$('#cluster_plot_loading_error').hide(); $('#cluster_plot_loading').show();
            $('#cluster_plot_img').attr('src', $('#cluster_plot_img').attr('src'))">
      <span class="fa fa-refresh" aria-hidden="true"></span>
    </button>
    <strong>Error</strong> loading Cluster Plots.
  </div>
  <img id="cluster_plot_img_single" src="{{url_for('plot_cluster', job_id=job_id, x_axis=viz_columns[0], y_axis=viz_columns[1],
  min_members=min_members, plot_best='True')}}" class="img-fluid"
       onload="$('#cluster_plot_loading').hide();$('#cluster_plot_loading_error').hide();$('#cluster_plot_img').show();"
  onerror="$('#cluster_plot_img').hide();$('#cluster_plot_loading').hide();$('#cluster_plot_loading_error').show();"/>
  <br><br>

<p class="lead">Download cluster assignments based on the best (highest) BIC score:</p>
<a href="{{url_for('download_labels', job_id=job_id, task_id=best_bic_task_id)}}">
  <button class="btn btn-secondary btn-lg">
    <i class="fa fa-download"></i>
  </button>
</a>

<div class="form-group row">
  <div class="lead">
      <input type="checkbox"  name="AdvancedSetting"  id="advanced" onclick="togglediv('advanced_settings', 'advanced')"> Show advanced report</input>
  </div>
</div>

<div id="advanced_settings" style="display: none;">
  <p class="lead">Recommended number of clusters based on the best (highest) BIC score:</p>
  <table class="table table-bordered">
    <tbody>
    {% for covar_tied in ['Tied', 'Untied'] %}
    <tr>
      {% for covar_type in ['Full', 'Diag', 'Spher'] %}
      <td>
        {% if covar_type in covar_type_tied_k %}
        {% if covar_tied in covar_type_tied_k[covar_type] %}
        {{covar_type}}-{{covar_tied}}: {{covar_type_tied_k[covar_type][covar_tied]}}
        <a href="{{url_for('download_labels', job_id=job_id, task_id=covar_type_tied_task_id[covar_type][covar_tied])}}">
          <button class="btn btn-secondary btn-sm pull-right">
            <i class="fa fa-download"></i>
          </button>
        </a>
        {% else %}
        {{covar_type}}-{{covar_tied}}: Not available
        {% endif %}
        {% else %}
        {{covar_type}}-{{covar_tied}}: Not available
        {% endif %}
      </td>
    {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <p>
    Only experiments where each cluster had at least {{min_members}} points are considered for this report.
    To change this threshold and rerun the report, use the form below:
  </p>
  <div class="form-group row">
    <form class="form-inline" method="get" enctype="multipart/form-data" action="{{url_for('report')}}">
      <input type="text" id="job_id" name="job_id" placeholder="Job ID" value="{{job_id}}" hidden>
      <div class="col-4">
        <label for="min_members" class="col-form-label">min-members:</label>
      </div>
      <div class="col-4">
        <input type="number" class="form-control form-control-sm col-12" min="0" id="min_members" name="min_members" value="{{min_members}}">
      </div>
      <div class="col-4">
        <button type="submit" class="btn btn-secondary btn-sm">Rerun</button>
      </div>
    </form>
  </div>
  <br><br>

  <h3>Correlation Heat Map</h3>
  <p>
    A heat map for the correlation between all the features in the dataset is show below:
  </p>
  <div id="correlation_plot_loading">
      <i class="fa fa-spinner fa-pulse fa-fw"></i>
      <span>Loading Correlation heat map ...</span>
  </div>
  <div id="correlation_plot_loading_error" class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none;">
    <button type="button" class="close" aria-label="Close"
            onclick="$('#correlation_plot_loading_error').hide(); $('#correlation_plot_loading').show();
            $('#correlation_plot_img').attr('src', $('#correlation_plot_img').attr('src'))">
      <span class="fa fa-refresh" aria-hidden="true"></span>
    </button>
    <strong>Error</strong> loading Correlation heat map.
  </div>
  <img id="correlation_plot_img" src="{{url_for('plot_correlation', job_id=job_id)}}" class="img-fluid"
       onload="$('#correlation_plot_loading').hide();$('#correlation_plot_loading_error').hide();$('#correlation_plot_img').show();"
  onerror="$('#correlation_plot_img').hide();$('#correlation_plot_loading').hide();$('#correlation_plot_loading_error').show();"/>
  <br><br>

  <h3>Cluster Plots</h3>
  <p>
    Recommended cluster assignments are visualized below using the columns {{viz_columns[0]}} and {{viz_columns[1]}}.
    Assignment with the best (highest) BIC score is shown in <b>bold</b>.
  </p>
  <div class="form-group row">
    <div class="form-inline" id="cluster_plot_reload_form">
      <div class="col-2">
        <label for="x_axis" class="col-form-label">x-axis:</label>
      </div>
      <div class="col-3">
        <select class="form-control form-control-sm" id="x_axis" name="x_axis">
          {% for column in columns %}
          <option value="{{column}}" {%if column==viz_columns[0] %} selected {% endif %}>{{column}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-2">
        <label for="y_axis" class="col-form-label">y-axis:</label>
      </div>
      <div class="col-3">
        <select class="form-control form-control-sm" id="y_axis" name="y_axis">
          {% for column in columns %}
          <option value="{{column}}" {%if column==viz_columns[1] %} selected {% endif %}>{{column}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-2">
        <button class="btn btn-secondary btn-sm" onclick="reload_cluster_plot()">Reload</button>
      </div>
    </div>
  </div>
  <div id="cluster_plot_loading">
      <i class="fa fa-spinner fa-pulse fa-fw"></i>
      <span>Loading Cluster Plots ...</span>
  </div>
  <div id="cluster_plot_loading_error" class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none;">
    <button type="button" class="close" aria-label="Close"
            onclick="$('#cluster_plot_loading_error').hide(); $('#cluster_plot_loading').show();
            $('#cluster_plot_img').attr('src', $('#cluster_plot_img').attr('src'))">
      <span class="fa fa-refresh" aria-hidden="true"></span>
    </button>
    <strong>Error</strong> loading Cluster Plots.
  </div>
  <img id="cluster_plot_img" src="{{url_for('plot_cluster', job_id=job_id, x_axis=viz_columns[0], y_axis=viz_columns[1],
  min_members=min_members, plot_best='False')}}" class="img-fluid"
       onload="$('#cluster_plot_loading').hide();$('#cluster_plot_loading_error').hide();$('#cluster_plot_img').show();"
  onerror="$('#cluster_plot_img').hide();$('#cluster_plot_loading').hide();$('#cluster_plot_loading_error').show();"/>
  <br><br>

  {% if (spatial_columns|length) == 2 %}
  <h3>Spatial Cluster Plots</h3>
  <p>
    Recommended cluster assignments are visualized below. Assignment with the best (highest) BIC score is shown in
    <b>bold</b>.
  </p>
  <div id="spatial_plot_loading">
    <i class="fa fa-spinner fa-pulse fa-fw"></i>
    <span>Loading Spatial Cluster Plots...</span>
  </div>
  <div id="spatial_plot_loading_error" class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none;">
    <button type="button" class="close" aria-label="Close"
            onclick="$('#spatial_plot_loading_error').hide(); $('#spatial_plot_loading').show();
            $('#spatial_plot_img').attr('src', $('#spatial_plot_img').attr('src'))">
      <span class="fa fa-refresh" aria-hidden="true"></span>
    </button>
    <strong>Error</strong> loading Cluster Plots.
  </div>
  <img id="spatial_plot_img" src="{{url_for('plot_cluster', job_id=job_id, x_axis=spatial_columns[0], y_axis=spatial_columns[1],
  show_ticks=False, min_members=min_members)}}" class="img-fluid"
       onload="$('#spatial_plot_loading').hide();$('#spatial_plot_loading_error').hide();$('#spatial_plot_img').show();"
  onerror="$('#spatial_plot_img').hide();$('#spatial_plot_loading').hide();$('#spatial_plot_loading_error').show();"/>
  <br><br>
  {% endif %}

  <h3>AIC and BIC Plots</h3>
  <p>
    Akaike Information Criterion (AIC) and Bayesian Information Criterion (BIC) for all covariance and number of
    clusters, shown with 95% confidence intervals.
  </p>
  <div id="aic_bic_plot_loading">
    <i class="fa fa-spinner fa-pulse fa-fw"></i>
    <span>Loading AIC and BIC Plots ...</span>
  </div>
  <div id="aic_bic_plot_loading_error" class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none;">
    <button type="button" class="close" aria-label="Close"
            onclick="$('#aic_bic_plot_loading_error').hide(); $('#aic_bic_plot_loading').show();
            $('#aic_bic_plot_img').attr('src', $('#aic_bic_plot_img').attr('src'))">
      <span class="fa fa-refresh" aria-hidden="true"></span>
    </button>
    <strong>Error</strong> loading Cluster Plots.
  </div>
  <img id="aic_bic_plot_img" src="{{url_for('plot_aic_bic', job_id=job_id, min_members=min_members)}}" class="img-fluid"
       onload="$('#aic_bic_plot_loading').hide();$('#aic_bic_plot_loading_error').hide();$('#aic_bic_plot_img').show();"
  onerror="$('#aic_bic_plot_img').hide();$('#aic_bic_plot_loading').hide();$('#aic_bic_plot_loading_error').show();"/>
  <br><br>

  <h3>Count Plots</h3>
  <p>
    Number of experiments used for this report:
  </p>
  <div id="count_plot_loading">
    <i class="fa fa-spinner fa-pulse fa-fw"></i>
    <span>Loading Count Plots ...</span>
  </div>
  <div id="count_plot_loading_error" class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none;">
    <button type="button" class="close" aria-label="Close"
            onclick="$('#count_plot_loading_error').hide(); $('#count_plot_loading').show();
            $('#count_plot_img').attr('src', $('#count_plot_img').attr('src'))">
      <span class="fa fa-refresh" aria-hidden="true"></span>
    </button>
    <strong>Error</strong> loading Cluster Plots.
  </div>
  <img id="count_plot_img" src="{{url_for('plot_count', job_id=job_id, min_members=min_members)}}" class="img-fluid"
       onload="$('#count_plot_loading').hide();$('#count_plot_loading_error').hide();$('#count_plot_img').show();"
  onerror="$('#count_plot_img').hide();$('#count_plot_loading').hide();$('#count_plot_loading_error').show();"/>
  </div>

{% endblock %}
{% block scripts %}
<script>
  function reload_cluster_plot(){
      $('#cluster_plot_img').hide();
      $('#cluster_plot_loading').show();
      var url = "/plot/cluster/?job_id={{job_id|safe}}&min_members={{min_members}}&x_axis=<x_axis>&y_axis=<y_axis>"
      var x_axis = $('#cluster_plot_reload_form option:selected').eq(0).text()
      var y_axis = $('#cluster_plot_reload_form option:selected').eq(1).text()
      url = url.replace("<x_axis>", x_axis)
      url = url.replace("<y_axis>", y_axis)
      $('#cluster_plot_img').attr("src", url);
  }
</script>
{% endblock%}