{% extends "base.html" %}
{% block title %}Task Report{% endblock %}
{% block body %}
<h3>Cluster Report</h3>
  <p>
    Recommended cluster assignments are visualized below using the columns {{viz_columns[0]}} and {{viz_columns[1]}}.
  </p>
 <div class="form-group row">
    <div class="form-inline" id="cluster_plot_reload_form">
      <div class="col-2">
        <label for="x_axis" class="col-form-label">x-axis:</label>
      </div>
      <div class="col-3">
        <select class="form-control form-control-sm" id="x_axis" name="x_axis">
          {% for column in columns %}
          <option value="{{column}}" {%if column==viz_columns[0] %} selected {% endif %}>{{column}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-2">
        <label for="y_axis" class="col-form-label">y-axis:</label>
      </div>
      <div class="col-3">
        <select class="form-control form-control-sm" id="y_axis" name="y_axis">
          {% for column in columns %}
          <option value="{{column}}" {%if column==viz_columns[1] %} selected {% endif %}>{{column}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-2">
        <button class="btn btn-secondary btn-sm" onclick="reload_cluster_plot()">Reload</button>
      </div>
    </div>
  </div>
  <div id="cluster_plot_loading_single">
      <i class="fa fa-spinner fa-pulse fa-fw"></i>
      <span>Loading Cluster Plots ...</span>
  </div>
  <div id="cluster_plot_loading_error_single" class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none;">
    <button type="button" class="close" aria-label="Close"
            onclick="$('#cluster_plot_loading_error').hide(); $('#cluster_plot_loading').show();
                $('#task_plot_img').attr('src', $('#task_plot_img').attr('src'))">
      <span class="fa fa-refresh" aria-hidden="true"></span>
    </button>
    <strong>Error</strong> loading Cluster Plots.
  </div>
  <img id="task_plot_img" src="{{url_for('plot_task', job_id=job_id, task_id=task_id, x_axis=viz_columns[0], y_axis=viz_columns[1],
  min_members=min_members, plot_best=plot_best)}}" class="img-fluid"
       onload="$('#cluster_plot_loading_single').hide();$('#cluster_plot_loading_error_single').hide();$('#task_plot_img').show();"
  onerror="$('#task_plot_img').hide();$('#cluster_plot_loading_single').hide();$('#cluster_plot_loading_error_single').show();"/>
  <br><br>

{% endblock %}
{% block scripts %}
<script>
  function reload_cluster_plot(){
      $('#task_plot_img').hide();
      $('#task_plot_img').show();
      var url = "/plot/task/?job_id={{job_id|safe}}&task_id={{task_id}}&x_axis=<x_axis>&y_axis=<y_axis>&plot_best={{plot_best}}"
      var x_axis = $('#cluster_plot_reload_form option:selected').eq(0).text()
      var y_axis = $('#cluster_plot_reload_form option:selected').eq(1).text()
      url = url.replace("<x_axis>", x_axis)
      url = url.replace("<y_axis>", y_axis)
      $('#task_plot_img').attr("src", url);
  }
</script>
{% endblock%}